blinker
certifi
charset-normalizer
click
colorama
filelock
flask
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
nltk
numpy
Pillow
regex
requests
sympy
torch
torchvision
tqdm
typing-extensions
urllib3
werkzeug
zipp
Gunicorn